/* General Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(240, 240, 240);
}

/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
}

/* --- */
nav {
    background-color: rgb(51, 51, 51);
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

header {
    background-color: rgb(76, 175, 80);
    text-align: center;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

main {
    padding: 20px;
}

main section {
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 20px;
}

main a {
    color: darkcyan;
    text-decoration: none;
    transition: color 0.3s;
}

main a:hover {
    text-decoration: underline;
    color: darkgoldenrod;
}

h2 {
    color: rgb(51, 51, 51);
}

p {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    line-height: 1.4;
}

footer {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 10px;
    text-align: center;
}

/* Classes */
.left-align {
    text-align: left;
    width: 48%;
}

.right-align {
    text-align: right;
    width: 48%;
    margin: 0 0 auto auto;
}

.content-container {
    width: 48%;
    margin: 0;
}

.content-container iframe {
    max-width: 100%;
    display: block;
    margin: 10px 0;
}

/* IDs */
#contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#contacts img {
    vertical-align: middle;
    transition: transform 0.3s;
    margin: 0 8px;
}

#contacts img:hover {
    transform: scale(1.2);
}

#banner-name {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2.4vw;
    text-shadow: 4px 4px 0px black;
    margin-bottom: 10px;
}

#banner-description {
    color: rgb(40, 40, 40);
    font-family: "Raleway", sans-serif;
    font-size: 1.4vw;
    font-weight: 600;
}