/* General Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #FFFFFF; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* Fonts */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf');
}

/* Document */
nav {
    background-color: #363636;
    padding: 15px;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 100%;
    border-bottom: 2px #000000 solid;
    position: fixed;
    z-index: 1;
}

nav div {
    width: fit-content;
    margin: 6px auto;
    white-space: nowrap;
}

nav a {
    margin: 50px 8px;
    text-decoration: none;
    padding: 8px 10px;
    box-shadow: 0 0 6px -1px #000000;
    border-radius: 6px;
}

nav a:hover {
    box-shadow: inset 0 0 6px -1px #000000;
}

header {
    background: radial-gradient(circle at 50%, #5a836b 50%, #395248 80%, #191f1b 100%);
    text-align: center;
    padding: 40px;
    box-shadow: 0 20px 40px -20px #000000;
    position: relative;
    top: 60px;
}

main {
    padding: 30px;
    position: relative;
    top: 60px;
}

main section {
    margin-bottom: 40px;
    border-bottom: 2px solid #333333;
    padding-bottom: 20px;
    display: flex;
}

main section iframe, main section embed {
    box-shadow: 0 0 8px #000000;
    border-radius: 8px;
    margin: 0 8px;
}

main a em strong {
    color: #03dac6;
    text-decoration: none;
    transition: color 0.3s;
}

main a:hover em strong {
    text-decoration: underline;
    color: #bb86fc;
}

footer {
    background-color: #363636;
    padding: 0 0 16px 0;
    text-align: center;
    box-shadow: 0 -20px 40px -20px #000000;
    position: relative;
    top: 60px;
}

h2 {
    font-size: 32px;
    font-style: oblique;
}

p {
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* Classes */
.left-align {
    flex-direction: row;
}

.right-align {
    flex-direction: row-reverse;
}

.left-align p, .left-align h2 {
    text-align: left;
    width: 45vw;
}

.right-align p, .right-align h2 {
    text-align: right;
    width: 45vw;
}

.content-container {
    margin: 0 auto 18px;
    width: 750px;
    align-items: center;
    justify-content: center;
}

/* IDs */
#banner-name {
    font-family: "Montserrat", sans-serif;
    font-size: 56px;
    text-shadow: 4px 4px 1px #121212;
    margin-bottom: 10px;
}

#banner-description {
    color: #121212;
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

#contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

#contacts img {
    vertical-align: middle;
    transition: transform 0.3s;
    margin: 0 8px;
}

#contacts img:hover {
    transform: scale(1.2);
}
